In [2]:
import snowflake.connector
import pandas as pd

In [3]:
try:
    # Connect to Snowflake using environment variables
    conn = snowflake.connector.connect(
        user="kaustubh",
        password="@@Kaustubh123",
        account="rh57156.central-india.azure",
        warehouse="COMPUTE_WH",
        database="Main_Project",
        schema="Main_Project_Schema_Mart",
        role = "ACCOUNTADMIN"
    )

    # Print connection success message
    print("Connected to Snowflake successfully!")

    # Now, you can perform further operations with snowflake_conn
except snowflake.connector.errors.DatabaseError as e:
    # Print connection failure message
    print(f"Failed to connect to Snowflake: {e}")

Connected to Snowflake successfully!

In [4]:
cur = conn.cursor()

# Execute SQL query to fetch data
sql_query = f"SELECT * FROM TOTALINFO"
cur.execute(sql_query)

# Fetch data into a pandas DataFrame
data = cur.fetchall()
columns = [col[0] for col in cur.description]
df = pd.DataFrame(data, columns=columns)

# Close cursor and connection
cur.close()
conn.close()

In [5]:
df.shape

(4131, 28)

In [8]:
df.columns

Index(['USERID', 'FULLNAME', 'EMAIL', 'PHONENUMBER', 'GENDER', 'DOJ',
       'SPECIALIZATION', 'DOB', 'CITY', 'STATE', 'EXPERIENCE', 'USERTYPE',
       'SUBSCRIBENEWSLETTER', 'TRAININGID', 'TRAINERID', 'TRAINERNAME',
       'TRAINERDESIGNATION', 'TRAINERRATING', 'TRAINERSPECIALIZATION',
       'TRAININGNAME', 'OPTIMIZEDDURATION', 'DIFFICULTYLEVEL',
       'TRAININGSTATUS', 'ASSESSMENT_PERCENTAGE_DONE',
       'ASSESSMENT_COMPLETION_TIME_IN_HOURS', 'SCOREACHIEVEDINQUIZ',
       'QUIZPASSEDORFAILED', 'RATINGGIVENBYTRAINER'],
      dtype='object')

In [9]:
df.head(10)

,USERID,FULLNAME,EMAIL,PHONENUMBER,GENDER,DOJ,SPECIALIZATION,DOB,CITY,STATE,...,TRAINERSPECIALIZATION,TRAININGNAME,OPTIMIZEDDURATION,DIFFICULTYLEVEL,TRAININGSTATUS,ASSESSMENT_PERCENTAGE_DONE,ASSESSMENT_COMPLETION_TIME_IN_HOURS,SCOREACHIEVEDINQUIZ,QUIZPASSEDORFAILED,RATINGGIVENBYTRAINER
0,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,[Continuous Deployment,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
1,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,GraphQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
2,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,PostgreSQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
3,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,Node.js],09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
4,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,[MongoDB,14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0
5,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,HTML,14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0
6,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,Continuous Integration,14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0
7,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,SQL],14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0
8,Emp_133,Christopher Jefferson,guerrerojamie@example.net,-9355,Female,09-05-2023,[Kubernetes,30-04-1995,Collinsmouth,California,...,None,Frontend Development with React,8.0,moderate,in_progress,88.0,NaN,NaN,,2.0
9,Emp_133,Christopher Jefferson,guerrerojamie@example.net,-9355,Female,09-05-2023,Information Security,30-04-1995,Collinsmouth,California,...,None,Frontend Development with React,8.0,moderate,in_progress,88.0,NaN,NaN,,2.0

In [10]:
df['SCOREACHIEVEDINQUIZ'] = df['SCOREACHIEVEDINQUIZ'].fillna(df['SCOREACHIEVEDINQUIZ'].mean()).astype(int)
df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'] = df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'].fillna(df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'].mean()).astype(int)

In [11]:
df['SPECIALIZATION'] = df['SPECIALIZATION'].str.replace(r"[\[\],]", '', regex=True)

In [12]:
df.nunique()

USERID                                 203
FULLNAME                               203
EMAIL                                  203
PHONENUMBER                            202
GENDER                                   5
DOJ                                    190
SPECIALIZATION                         105
DOB                                    200
CITY                                   199
STATE                                   51
EXPERIENCE                              20
USERTYPE                                 5
SUBSCRIBENEWSLETTER                      3
TRAININGID                             100
TRAINERID                                1
TRAINERNAME                             14
TRAINERDESIGNATION                      12
TRAINERRATING                            4
TRAINERSPECIALIZATION                   16
TRAININGNAME                            10
OPTIMIZEDDURATION                       33
DIFFICULTYLEVEL                          3
TRAININGSTATUS                           3
ASSESSMENT_PERCENTAGE_DONE              98
ASSESSMENT_COMPLETION_TIME_IN_HOURS     60
SCOREACHIEVEDINQUIZ                     96
QUIZPASSEDORFAILED                       3
RATINGGIVENBYTRAINER                     5
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4131 entries, 0 to 4130
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   USERID                               4131 non-null   object
 1   FULLNAME                             4131 non-null   object
 2   EMAIL                                4131 non-null   object
 3   PHONENUMBER                          4131 non-null   object
 4   GENDER                               4131 non-null   object
 5   DOJ                                  4131 non-null   object
 6   SPECIALIZATION                       4131 non-null   object
 7   DOB                                  4131 non-null   object
 8   CITY                                 4131 non-null   object
 9   STATE                                4131 non-null   object
 10  EXPERIENCE                           4130 non-null   float64
 11  USERTYPE                             4131 non-null   object
 12  SUBSCRIBENEWSLETTER                  4131 non-null   object
 13  TRAININGID                           4100 non-null   object
 14  TRAINERID                            4100 non-null   object
 15  TRAINERNAME                          724 non-null    object
 16  TRAINERDESIGNATION                   724 non-null    object
 17  TRAINERRATING                        724 non-null    float64
 18  TRAINERSPECIALIZATION                724 non-null    object
 19  TRAININGNAME                         4084 non-null   object
 20  OPTIMIZEDDURATION                    4084 non-null   float64
 21  DIFFICULTYLEVEL                      4084 non-null   object
 22  TRAININGSTATUS                       4100 non-null   object
 23  ASSESSMENT_PERCENTAGE_DONE           4100 non-null   float64
 24  ASSESSMENT_COMPLETION_TIME_IN_HOURS  4131 non-null   int32
 25  SCOREACHIEVEDINQUIZ                  4131 non-null   int32
 26  QUIZPASSEDORFAILED                   4100 non-null   object
 27  RATINGGIVENBYTRAINER                 4100 non-null   float64
dtypes: float64(5), int32(2), object(21)
memory usage: 871.5+ KB

In [14]:
df1 = df[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION', 'SCOREACHIEVEDINQUIZ', 'ASSESSMENT_COMPLETION_TIME_IN_HOURS']]
df1

,GENDER,SPECIALIZATION,EXPERIENCE,DIFFICULTYLEVEL,TRAININGNAME,OPTIMIZEDDURATION,SCOREACHIEVEDINQUIZ,ASSESSMENT_COMPLETION_TIME_IN_HOURS
0,Female,Continuous Deployment,17.0,moderate,Machine Learning Basics,24.0,48,29
1,Female,GraphQL,17.0,moderate,Machine Learning Basics,24.0,48,29
2,Female,PostgreSQL,17.0,moderate,Machine Learning Basics,24.0,48,29
3,Female,Node.js,17.0,moderate,Machine Learning Basics,24.0,48,29
4,Male,MongoDB,17.0,easy,Data Science Essentials,23.0,48,29
...,...,...,...,...,...,...,...,...
4126,Female,Docker,20.0,None,None,NaN,48,29
4127,Male,Behavior-Driven Development,11.0,None,None,NaN,48,29
4128,Male,Angular,9.0,None,None,NaN,48,29
4129,Male,Continuous Integration,11.0,None,None,NaN,48,29
4130,Male,Docker,11.0,None,None,NaN,48,29

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor

# Assume df1 is your preprocessed DataFrame with features and target column 'SCOREACHIEVEDINQUIZ'

# Separate features and target variable
X = df1[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION']]
y = df1['ASSESSMENT_COMPLETION_TIME_IN_HOURS']

# Encode categorical variables
X_encoded = pd.get_dummies(X)

# Handle NaN values
imputer = SimpleImputer(strategy='mean')
X_imputed = pd.DataFrame(imputer.fit_transform(X_encoded), columns=X_encoded.columns)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_imputed, y, test_size=0.2, random_state=42)

# Initialize models
models = {
    'Linear Regression': LinearRegression(),
    'Random Forest Regressor': RandomForestRegressor(random_state=42),
    'Gradient Boosting Regressor': GradientBoostingRegressor(random_state=42),
    'Support Vector Regressor': SVR(),
    'Neural Network (MLPRegressor)': MLPRegressor(random_state=42)
}

# Train and evaluate models
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    print(f"{name}: Mean Squared Error = {mse}")

# You can also perform cross-validation to get more reliable estimates of model performance
for name, model in models.items():
    scores = cross_val_score(model, X_imputed, y, cv=5, scoring='neg_mean_squared_error')
    mse_mean = -scores.mean()
    print(f"{name}: Cross-validated Mean Squared Error = {mse_mean}")

Linear Regression: Mean Squared Error = 1.150630758175608e+19
Random Forest Regressor: Mean Squared Error = 69.22904678171587
Gradient Boosting Regressor: Mean Squared Error = 92.36033990035286
Support Vector Regressor: Mean Squared Error = 96.29439978578061

C:\Users\ACER\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Neural Network (MLPRegressor): Mean Squared Error = 97.15672227359329
Linear Regression: Cross-validated Mean Squared Error = 4.081028135108712e+16
Random Forest Regressor: Cross-validated Mean Squared Error = 138.61087814374088
Gradient Boosting Regressor: Cross-validated Mean Squared Error = 109.91348545179835
Support Vector Regressor: Cross-validated Mean Squared Error = 101.72796930680771

C:\Users\ACER\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Neural Network (MLPRegressor): Cross-validated Mean Squared Error = 115.1166380807927

C:\Users\ACER\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

# Assume df1 is your preprocessed DataFrame with features and target column 'ASSESSMENT_COMPLETION_TIME_IN_HOURS'

# Separate features and target variable
X = df1[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION']]
y = df1['ASSESSMENT_COMPLETION_TIME_IN_HOURS']

# Encode categorical variables
X_encoded = pd.get_dummies(X)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Handle NaN values
imputer = SimpleImputer(strategy='mean')
X_imputed = pd.DataFrame(imputer.fit_transform(X_encoded), columns=X_encoded.columns)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_imputed, y_encoded, test_size=0.2, random_state=42)

# Train the Linear Regression model
linear_regressor = LinearRegression()
linear_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = linear_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

threshold = 2

# Convert regression predictions to binary classification labels
y_pred_binary = (y_pred <= threshold).astype(int)
y_test_binary = (y_test <= threshold).astype(int)

# Calculate accuracy for binary classification
accuracy = (y_pred_binary == y_test_binary).mean()

print(f"Accuracy: {accuracy*100} %")

Mean Squared Error: 1.150630758175608e+19
Accuracy: 97.94437726723095 %

In [19]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Define dummy values for features
dummy_data = {
    'GENDER': ['Male'],
    'SPECIALIZATION': ['Docker'],
    'EXPERIENCE': [5],
    'DIFFICULTYLEVEL': ['moderate'],
    'TRAININGNAME': ['Machine Learning Basics'],
    'OPTIMIZEDDURATION': [8]
}

# Create DataFrame with dummy values
dummy_df = pd.DataFrame(dummy_data)

# Get the list of feature names used during training
training_feature_names = X_imputed.columns.tolist()

# Ensure that the dummy DataFrame has the same columns as training data
dummy_df = pd.get_dummies(dummy_df)
dummy_df = dummy_df.reindex(columns=training_feature_names, fill_value=0)

# Handle NaN values
imputer = SimpleImputer(strategy='mean')
dummy_imputed = pd.DataFrame(imputer.fit_transform(dummy_df), columns=dummy_df.columns)

# Make prediction
prediction = linear_regressor.predict(dummy_imputed)

# Print prediction
print("Predicted Completion Time:", int(prediction[0]) ,'hrs')

Predicted Completion Time: 28 hrs