In [20]:
import pandas as pd
import numpy as np

In [24]:
np.random.seed(0)

num_samples = 200
training_names = ["Python", "JavaScript", "HTML", "CSS", "React", "Angular", "Vue.js", "Node.js", "Django", "Flask",
    "Java", "Kotlin", "Swift", "Objective-C", "C#", ".NET", "PHP", "Ruby", "SQL", "NoSQL",
    "MongoDB", "MySQL", "PostgreSQL", "Git", "Docker", "Kubernetes", "AWS", "Azure", "Google Cloud Platform",
    "RESTful API", "GraphQL", "CI/CD", "Agile Methodologies", "Scrum", "Test-Driven Development",
    "Behavior-Driven Development", "DevOps", "Continuous Integration", "Continuous Deployment", "Microservices",
    "Containerization", "Machine Learning", "Artificial Intelligence", "Data Science", "Data Analysis",
    "Data Visualization", "Statistical Analysis", "Cybersecurity", "Network Security", "Penetration Testing",
    "Cryptography", "Information Security", "UI/UX Design", "Wireframing", "Prototyping", "User Research",
    "Interaction Design", "Responsive Design", "Accessibility", "Product Management", "Agile Product Management",
    "Requirements Analysis", "User Stories", "Business Analysis", "Technical Writing", "Documentation",
    "Support", "Troubleshooting", "Problem Solving", "Communication", "Collaboration", "Leadership",'Data Science Basics', 'Python for Data Science', 'Machine Learning Fundamentals', 'Deep Learning Concepts', 'Big Data Analytics']

In [25]:
len(training_names)

77

# Data Generation

In [26]:
data = {
    'Name': [],
    'Difficulty_Level': [],
    'Trainers': [],
    'Trainer_Experience': [],
    'Total_Hours': [],
    'Total_Trainee': []
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

Empty DataFrame
Columns: [Name, Difficulty_Level, Trainers, Trainer_Experience, Total_Hours, Total_Trainee]
Index: []

## Basic

In [28]:
name = np.random.choice(training_names, num_samples)
difficulty_level = 'basic'
trainers = np.random.randint(1, 3, num_samples)
trainer_experience = np.random.randint(1,5, num_samples)
total_hours=np.random.randint(4, 7, num_samples)
total_trainee = [t *(np.random.randint(1,5)*9) for t in trainers]

# Create DataFrame
dummy_data = pd.DataFrame({
    'Name': name,
    'Difficulty_Level': difficulty_level,
    'Trainers': trainers,
    'Trainer_Experience': trainer_experience,
    'Total_Hours':total_hours,
    'Total_Trainee':total_trainee
})
df = df.append(dummy_data, ignore_index=True)
# Display the dummy data
print(dummy_data)

                              Name Difficulty_Level  Trainers  \
0                          Node.js            basic         2
1                     UI/UX Design            basic         1
2                      RESTful API            basic         2
3                           Python            basic         1
4    Machine Learning Fundamentals            basic         1
..                             ...              ...       ...
195                     PostgreSQL            basic         1
196              Technical Writing            basic         1
197                          CI/CD            basic         2
198                           .NET            basic         1
199           Information Security            basic         1

     Trainer_Experience  Total_Hours  Total_Trainee
0                     3            4             54
1                     2            5             18
2                     3            4             54
3                     2            4             36
4                     3            6             27
..                  ...          ...            ...
195                   2            4             36
196                   3            4             18
197                   1            4             54
198                   1            6             36
199                   2            4             18

[200 rows x 6 columns]

<ipython-input-28-7ccbc5a2fb72>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dummy_data, ignore_index=True)

## Medium

In [35]:
name = np.random.choice(training_names, num_samples)
difficulty_level = 'medium'
trainers = np.random.randint(1, 4, num_samples)
trainer_experience = np.random.randint(3,7, num_samples)
total_hours=np.random.randint(10, 20, num_samples)
total_trainee = [t *(np.random.randint(1,5))*20 for t in trainers]

# Create DataFrame
dummy_data = pd.DataFrame({
    'Name': name,
    'Difficulty_Level': difficulty_level,
    'Trainers': trainers,
    'Trainer_Experience': trainer_experience,
    'Total_Hours':total_hours,
    'Total_Trainee':total_trainee
})
df = df.append(dummy_data, ignore_index=True)
# Display the dummy data
print(dummy_data)

                        Name Difficulty_Level  Trainers  Trainer_Experience  \
0                    Angular           medium         3                   5
1              Documentation           medium         1                   5
2    Test-Driven Development           medium         2                   3
3                 JavaScript           medium         1                   3
4                         C#           medium         3                   5
..                       ...              ...       ...                 ...
195   Deep Learning Concepts           medium         1                   5
196                    Flask           medium         3                   5
197  Python for Data Science           medium         3                   3
198                  GraphQL           medium         3                   5
199               PostgreSQL           medium         1                   4

     Total_Hours  Total_Trainee
0             16            180
1             12             20
2             19             80
3             11             80
4             14            180
..           ...            ...
195           19             80
196           11            120
197           12            180
198           17            240
199           15             60

[200 rows x 6 columns]

<ipython-input-35-b5c78c025d88>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dummy_data, ignore_index=True)

## hard

In [42]:
name = np.random.choice(training_names, num_samples)
difficulty_level = 'hard'
trainers = np.random.randint(5, 8, num_samples)
trainer_experience = np.random.randint(1,7, num_samples)
total_hours=np.random.randint(10, 20, num_samples)
total_trainee = [t *(np.random.randint(1,5)*9) for t in trainers]

# Create DataFrame
dummy_data = pd.DataFrame({
    'Name': name,
    'Difficulty_Level': difficulty_level,
    'Trainers': trainers,
    'Trainer_Experience': trainer_experience,
    'Total_Hours':total_hours,
    'Total_Trainee':total_trainee
})
df = df.append(dummy_data, ignore_index=True)
# Display the dummy data
print(dummy_data)

                            Name Difficulty_Level  Trainers  \
0                           HTML             hard         7
1             Big Data Analytics             hard         5
2    Behavior-Driven Development             hard         5
3                         Python             hard         5
4          Requirements Analysis             hard         6
..                           ...              ...       ...
195                   Kubernetes             hard         6
196                  Wireframing             hard         6
197             Containerization             hard         5
198             Machine Learning             hard         6
199                       Python             hard         5

     Trainer_Experience  Total_Hours  Total_Trainee
0                     4           11            189
1                     3           17             90
2                     4           14             90
3                     1           18            180
4                     6           18            216
..                  ...          ...            ...
195                   3           19            216
196                   1           17            108
197                   6           10             45
198                   2           10            108
199                   1           12             90

[200 rows x 6 columns]

<ipython-input-42-4be197197dee>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dummy_data, ignore_index=True)

In [43]:
len(df)

1400

In [44]:
df.to_csv("ml_data.csv", index=False)

In [39]:
df[900:]

,Name,Difficulty_Level,Trainers,Trainer_Experience,Total_Hours,Total_Trainee
900,Flask,medium,1.0,3.0,19.0,60.0
901,Data Analysis,medium,1.0,3.0,13.0,80.0
902,Angular,medium,2.0,4.0,15.0,40.0
903,Flask,medium,3.0,4.0,15.0,120.0
904,Documentation,medium,1.0,5.0,14.0,40.0
...,...,...,...,...,...,...
995,Deep Learning Concepts,medium,1.0,5.0,19.0,80.0
996,Flask,medium,3.0,5.0,11.0,120.0
997,Python for Data Science,medium,3.0,3.0,12.0,180.0
998,GraphQL,medium,3.0,5.0,17.0,240.0
999,PostgreSQL,medium,1.0,4.0,15.0,60.0